*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,400&display=swap');
body
{
    font-family: 'Montserrat', sans-serif;
}
.top
{
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 100%, rgba(69,233,12,1) 100%, rgba(15,85,137,1) 100%, rgba(255,0,0,1) 100%);
    border-radius: 10px;
    margin-bottom:20px;
    padding: 10px;
    
}
.bottom
{
    background: rgb(110,247,63);
background: linear-gradient(90deg, rgba(110,247,63,1) 0%, rgba(255,255,255,1) 100%, rgba(15,85,137,1) 100%, rgba(255,0,0,1) 100%);
    display: grid;
    border-radius: 10px;
    height: 400px;
    justify-content: space-around;
    align-items: center;
    grid-template-areas: 
    "a a a"
    "b b b"
    "c c c"
    "d d d"
    ;
}
.container
{
    height: 90vh;
    width: 30%;
    margin: 10px auto;
    border-radius: 10px;
    padding:30px;
    background: rgb(29,34,101);
    background: linear-gradient(90deg, rgba(29,34,101,1) 100%, rgba(69,233,12,1) 100%, rgba(15,85,137,1) 100%, rgba(255,0,0,1) 100%);
}
h1
{
    display: inline;
    font-size: 20px;
}

#thisover
{
    min-height: 30px ;
    max-width: 276px;
}
input[type="button"]
{
    width: 80px;
    height:80px;
    margin: 5px;
    font-size: 22px;
    border-radius: 3px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #D31027 0%, #EA384D  51%, #D31027  100%);
    transition: 0.5s;
    color: white;  
    box-shadow: 0 0 20px #eee;
}
         

input[type="button"]:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
span
{
    font-size: 25px;
}
@media screen and (max-width: 600px) {
    .container
    {
        width: 100%;
        padding: 15px;
    }
    input[type="button"]
    {
        width: 60px;
        height:60px;
        font-size: 18px;
        margin: 2px;
    }
  }

